/* CSS by Sol Llinas */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip {
    background: var(--watchdog-white);
    height: 0.5rem;
    padding: 1.5rem;
    position: absolute;
    transform: translateX(-250%);
    transition: transform 0.3s;
}
#skip:focus {
    transform: translateX(0%);
}

/* ///ADD/// Navigation Styles */
header, nav {
  background-color: var(--blue-bulletin);
  padding: 1rem;
}

@media screen and (max-width: 619px) {
  
  nav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center; 
    max-height: 0;   
  }
    
  nav li a{
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  font-size: 1rem; 
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  transition: background-color .3s ease-in;
  text-decoration: none;
  }

  nav a:hover, nav input:hover {
      background-color: var(--blue-bulletin);
      color: var(--watchdog-white);
  }

  nav label {
      cursor: pointer;
      display: block;
      padding: 1.5rem;
      user-select: none;
      color: var(--watchdog-white);
      background-color: var(--news-flash);
      padding: 1rem;
      text-transform: uppercase;
      text-align: center;
      font-family: var(--font-body);
  }

  nav label:hover {
    background-color: var(--blue-bulletin);
    color: var(--watchdog-white);
    border: solid 1px var(--news-flash);
  }


  label span:before, label span:after{
      background: var(--white);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }

  label span:before {
      top: .75rem;
  }
  label span:after {
      top: -.75rem;
  }

  nav input{
      display: none;
  }

  input:checked ~ ul {
      max-height: 500px;
  }
}
  


@media screen and (min-width: 620px) {
nav label {
  visibility: hidden;
}

nav li a {
  display: inline-block;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-transform: uppercase;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-body);
}

nav ul {
  display: flex;
  gap: 10px;
}

nav a:hover {
      background-color: var(--blue-bulletin);
      border: solid 1px var(--news-flash);
      color: var(--watchdog-white);
  }

}

/*///ADD/// Global Layout Styles */
#welcome, #breaking-news, #featured-articles, #alerts, #social {
  padding: 1rem 2rem;
} 
#welcome p {
  padding: 0.5rem;
  line-height: 1.2rem;
}

blockquote {
  font-weight: bold;
  text-align: right;
  padding-right: 1rem;
}

#breaking-news {
  display: grid;
  gap: 8px;
}

.new {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--news-flash);
  border: var(--truth-text) solid 1.5px;
  box-shadow: -5px 5px 16px var(--truth-text); 
  transition: 0.5s;
}

.new:hover {
  transform: scale(1.03);
}

#featured-articles {
  display: grid;
  gap: 10px;
}

.article {
  border: var(--story-subtitle) solid 1.5px;
  padding: 0.5rem;
  box-shadow: -5px 5px 16px var(--truth-text);
  transition: 0.5s;
}

.article:hover {
  transform: scale(1.03);
}

form { 
  background-color: var(--news-flash);
  border: var(--truth-text) solid 1.5px;
  box-shadow: -5px 5px 16px var(--truth-text);
  color: var(--watchdog-white);
  padding: 1rem;
  margin-top: 1rem;
}

#name, #mobile, #submit {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 1rem 0;
}

fieldset {
  border: var(--truth-text) solid 1.5px;
  padding: 0.5rem;
  display: block;
}

fieldset div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#submit {
  background-color: var(--blue-bulletin);
  transition: background-color 0.5s;
}

#submit:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}

footer {
  background-color: var(--blue-bulletin);
  padding: 1rem;
}

footer p {
  text-align: center;
  padding: 1.5rem;
}

footer a:hover {
      background-color: var(--blue-bulletin);
      border: solid 1px var(--news-flash);
      color: var(--watchdog-white);
  }

/* ///ADD/// Global Text Styles */
body {
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 3rem;
  color: var(--watchdog-white);
  padding: 1rem;
}

h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  padding: 0.5rem;
  line-height: 1.5rem;
}

#breaking-news h3 {
  color: var(--watchdog-white);
  border-bottom: var(--watchdog-white) solid 1.5px;
}

#breaking-news p {
  color: var(--watchdog-white);
  line-height: 1.5rem;
}

#featured-articles h3 {
  border-bottom: var(--story-subtitle) solid 1.5px;
}

#featured-articles p {
  line-height: 1.5rem;
}

header p {
  font-family: var(--font-heading);
  color: var(--watchdog-white);
  padding: 0.5rem;
}

footer {
  color: var(--watchdog-white);
}

legend {
  text-transform: uppercase;
  font-weight: 600;
}

#submit {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--watchdog-white) ;
}

footer a {
  display: inline-block;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-transform: uppercase;
  margin: 0.6rem;
  padding: 1rem;
  text-decoration: none;
  font-family: var(--font-body);
}

/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {

  #breaking-news {
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  
  #breaking-news h2 {
    grid-column: 1/-1;
  }

  #featured-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #featured-articles h2 {
    grid-column: 1/-1;
  }

  #article-1, #article-3, #article-5, #article-7, #article-9, #article-11 {
    grid-column: 1/2;
  }

  #article-2, #article-4, #article-6, #article-8, #article-10, #article-12 {
    grid-column: 2/-1;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #name-label {
    grid-column: 1/2;
  }

  #mobile-label {
    grid-column: 2/-1;
  }

  fieldset {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #submit {
    grid-column: 1/-1;
  }

  .check:nth-child(even) {
    grid-column: 1/2;
  }

  .check:nth-child(odd) {
    grid-column: 2/-1;
  }
  
}


/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  blockquote {
    text-align: center;
  }

  #featured-articles {
    grid-template-columns: 1fr 1fr 1fr;  
  }

  #article-1, #article-4, #article-7, #article-10 {
    grid-column: 1/2;
  }

  #article-2, #article-5, #article-8, #article-11 {
    grid-column: 2/3;
  }

  #article-3, #article-6, #article-9, #article-12 {
    grid-column: 3/-1;
  }

  fieldset {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .check:nth-child(2), .check:nth-child(5), .check:nth-child(8) {
    grid-column: 1/2;
  }

  .check:nth-child(3), .check:nth-child(6) {
    grid-column: 2/3;
  }

  .check:nth-child(4), .check:nth-child(7) {
    grid-column: 3/-1;
  }
}



/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}